<div class="card">
  <div class="card-header"><h2>Edit <%= resource_name.to_s.humanize %></h2></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card-body">
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br/>
<h4> Change Password </h4>
  <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
  <div class="field form-group">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password (leave blank if you don't want to change it)" %>
  </div>
  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: :password_confirmation %>
  </div>
  <br/>
  <h4>Current Password </h4>
  <div class="field form-group">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: :current_password %>
  </div>
  <br/>
  <div class="actions form-group">
    <%= f.submit "Update", class: "btn btn-info" %>
  </div>
<% end %>
</div></div>
<br/><br/>

<div class="card">
  <div class="card-header">
    <h5>Unhappy?</h5>
  </div>
  <div class="card-body">
    <p class="card-title">Cancel your account at any time</p>
    <p class="card-text"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
  </div>
</div>

<% link_to "Back", :back %>
