<div id="<%= dom_id book %>">
<tr>
  <td><%= link_to book.title, book %></td>
  <td><%= book.authors %></td>
  <td><%= book.publisher %></td>
  <td><%= book.edition %></td>
  <td><%= book.pages %></td>
  </tr>
</div>
